<div class="order-card">
  <div class="order-card__header order-card-header">
    <div class="order-card-header__title">{{order?.title}}</div>
  </div>
  <div class="order-card__list">
    <div class="table-responsive d-flex flex-column flex-wrap">
      <div class="products-list">
        <div class="product d-flex flex-nowrap align-items-center" *ngFor="let product of products$ | async">
          <div class="product__col product-dot" [ngClass]="{'new': product.isNew}"></div>
          <div class="product__col product-img">
            <img src="{{product.photo}}" alt="{{product.title}}">
          </div>
          <div class="product__col product-info flex-grow-1">
            <div class="product-info__title">{{product.title}}</div>
            <div class="product-info__serial">{{product.serialNumber}}</div>
          </div>
          <div class="product__col product-status" [ngClass]="{'new': product.isNew}">
            {{product.isNew ? 'Свободен' : 'В ремонте'}}
          </div>
          <div class="product__col product-amount">
            <b>{{product.count}}</b><br>
            Продуктов
          </div>
          <div class="product__col product-action">
            <button (click)="removeProductFromOrder(product)">
              <mat-icon [inline]="true">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-card__action order-card-action">
    <button routerLink="/orders">x</button>
  </div>
</div>

