/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap-grid";
@import "styles/variables";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0f3f5;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #2c3c44;
}

.page-title {
  font-size: 34px;
  font-weight: bold;
}

.table-responsive {
  overflow-x: auto;
}
